/* Tags */
.about h1:before {
  content: '<h1>';
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: .1rem;
  left: -20px;
}

.about h1:after {
  content: '<h1/>';
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: 5rem;
  margin-left: -39rem;
}

/* About */
.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about h1 {
  color: var(--clr-primary);
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-primary-heading);
  position: relative;
  margin-bottom: 1rem;
}

.about .text-zone {
  position: relative;
  z-index: 1;
  padding-left: 5rem;
  margin-top: 25vh;
}

.about .text-zone h1 .blast:hover{
  color: var(--clr-accent);
  animation-name: rubberBand;
  
}

:-webkit-any(article, aside, nav, section) .text-zone h1 {
  font-size: 1.5em;
}

.about .blast{
  color: var(--clr-accent);
  margin: 0;
  font-weight: 600;
  font-size: 5rem;
  line-height: 6.7rem;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: var(--ff-title);
  z-index: 2;
  margin-left: 5px;
  letter-spacing: 0px
}

.about p{
  position: relative;
  font-family: var(--ff-primary);
  font-size: 1rem;
  color: var(--clr-primary);
  max-width: 65%;
}

.about a {
  color: var(--clr-accent);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.about a:hover {
  color: var(--clr-accent-hover);
}

.about .skill-charts {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

.about .tagcloud{
  font-size: var(--fs-500);
  font-family: var(--ff-primary); 
  margin: auto;
  left: -10rem;
}

.about .skill-charts-mobile{
  display: none;
}

.about .tagcloud--item:hover {
  color: var(--clr-neutral-400); 
}

.skill-charts #tagcloudMobile{
  display:none;
}


@media (max-width: 40em){
  .about br{
    display: block;
    content: ""; 
    margin-top: .5rem;
  }

  /* Tags */
  .about h1:before {
    margin-left: .5rem;
    margin-top: -3.5rem;
  }

  .about h1:after {
    margin-top: -.8rem;
    margin-left: -17.3rem;
  }

  .about .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: 0rem;
  }

  .about .text-zone p:last-of-type:after {
    left: -1rem;
  }

  #about-bottom-tags{
    bottom: -15rem;
  }

  /* About */
  .about{
    padding-left: 0rem;
    flex-direction: column;
    top: 200px;
    overflow: auto;
    -ms-overflow-style: scroll;
  }

  .about .text-zone{
    padding-left: 30px;
    margin-top: 50px;
  }

  .about .blast{
    font-size: 40px;
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .about p{
    font-size: var(--fs-body);
    max-width: 95%;
    margin-top: 35px;
    margin-bottom: 50px;
  }

  .about .tagcloud{
    font-size: var(--fs-400);
    font-family: var(--ff-primary);
    margin: auto;
    left: 0px;
  }

  .skill-charts #tagcloud{
    display: none;
  }

  .skill-charts #tagcloudMobile{
    display: block;
  }

  .skill-charts #tagcloudMobile .tagcloud{
    font-size: 15px;
  }

  #tagcloudMobile .tagcloud--item{
    color: purple;
  }
}