#rights {
  position: relative;
  display: flex;
  top: 170px;
  float:right;
  overflow:auto;
  right: 5.6rem;
}

.rights-img{
  position: fixed;
  z-index: 999;
}

@media (max-width: 40em){
  #rights {
    right: 17vw;
  }

  .rights-img{
    top: 13vh;
    width: 17%;
  }
}