:root {
  /* Colors */
  --clr-accent: purple;
  --clr-accent-hover: rgba(128, 0, 128, 0.692);

  --clr-sound-off: #FD1056;
  --clr-sound-on: green;

  --clr-primary: #fff;
  --clr-primary-bg: #1d1d1d;

  --clr-box-shadow: 0 0 5px 1px  rgba(0, 0, 0, 0.2);
  --clr-box-shadow-2: 0 1px 2px rgba(0, 0, 0, 0.2);

  --clr-neutral-200 : #ffffff;
  --clr-neutral-300 : #8d8d8d;
  --clr-neutral-400 : #515152;
  --clr-neutral-500 : #2b2b2b;
  --clr-neutral-600 : #1d1d1d;
  --clr-neutral-700 : #181818;
  --clr-neutral-800 : rgba(255, 255, 255, 0.04);
  --clr-neutral-900 : hsl(0 0% 0%);  /* black */
  /* --fds-dark-mode-gray-35: #CCCCCC;
  --fds-dark-mode-gray-50: #828282;
  --fds-dark-mode-gray-70: #4A4A4A;
  --fds-dark-mode-gray-80: #373737;
  --fds-dark-mode-gray-90: #282828;
  --fds-dark-mode-gray-100: #1C1C1C; */
  /* Fonts */
  --ff-primary: 'Poppins', sans-serif;
  --ff-tag: 'La Belle Aurore', sans-serif;
  --ff-title: 'Coolvetica', sans-serif;

  --fw-regular: 400;
  --fw-semi-bolt: 500;
  --fw-bold: 600;

  --fs-100: .1rem;
  --fs-200: .2rem;
  --fs-300: .5rem;
  --fs-350: .8rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 2rem;
  --fs-700: 4rem;
  --fs-800: 5rem;
  --fs-900: 8rem;
  --fs-1000: 30rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);

  --fs-tag: var(--fs-500);
  --fs-fakebig: var(--fs-1000);

  --fs-button: 0.9rem;
  --fs-sound: 1rem;
  
  --fs-nav-body: var(--fs-400);
  --fs-nav-heading: 2rem;
  --fs-nav-secondary-heading: 0.8rem;
}

/* @media (min-width: 40em){
  :root{
     --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-tag: var(--fs-600);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300); 
  }
} */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
/* body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
} */

/* or more strong */
* {
  margin: 0;
  padding: 0;
  font : inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([className]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img, picture, svg {
  max-width: 100%;
  display: block;
}

/* We have it higher */
/* Inherit fonts for inputs and buttons */
/* input, button, textarea, select {
  font: inherit;
} */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Animations */
/* fadeIn */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* rubberBand */
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* Move */
@keyframes move {
  25% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(-0px);
  }
}

/* Bounce-1 */
@keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* fadeInUp */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

//  Initial animation
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

@use "sass:math";
.text-animate {
  display: inline-block;
  opacity: 1;
  animation: bounce-in 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
  color: var(--clr-primary);
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-primary-heading);
  line-height: 5.5rem;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: var(--ff-title);
  z-index: 2;
}

@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}

.text-animate-secondary {
  display: inline-block;
  opacity: 1;
  animation: bounce-in 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
  color: var(--clr-accent);
  margin: 0;
  font-weight: 600;
  font-size: var(--fs-secondary-heading);
  line-height: 6.7rem;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: var(--ff-title);
  z-index: 2;
  margin-left: 5px;
  letter-spacing: 0px;
}

@for $i from 1 through 35 {
  .text-animate-secondary._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}

/* styling the  scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #454545;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
}

body {
  font-size: var(--fs-body);
  line-height: 1.5rem;
  background: var(--clr-primary-bg);
  display: block;
  min-width: 320px;
  padding-left: 130px;
  font-family: var(--ff-body);
  color: var(--clr-primary);
  overflow-y: auto;
  overflow-x: hidden;
}

.page-outer {
  min-height: 100vh;
  position: relative;
}

/* Tags */
.top-tags {
  bottom: auto;
  top: 20px;
  z-index: 99999;
}

.bottom-tags {
  bottom: 20px;
  top: auto;
}

.tags {
  color: var(--clr-neutral-400);
  position: absolute;
  left: 20px;
  font-style: italic;
  font-size: var(--fs-tag);
  font-family: var(--ff-tag);
}

.top-tags:after {
  content: "<body>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-left: 20px;
  top: 30px;
}

.bottom-tags:before {
  content: "</body>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-left: 20px;
  bottom: 30px;
}

.section-home h1:before {
  content: "<h1>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: -2rem;
  left: -20px;
}

.section-home h1:after {
  content: "<h1/>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: 5rem;
  margin-left: -1rem;
}

.text-zone p:first-of-type:before {
  content: "<p>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: -1rem;
  left: -1rem;
}

.text-zone p:last-of-type:after {
  content: "<p/>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  left: -1rem;
  bottom: -1.2rem;
}

.section-work h2:before {
  content: "<h2>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: -.2rem;
  left: -1rem;
}

.section-work h2:after {
  content: "<h2/>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: 5rem;
  margin-left: -28.8rem;
}

#grid:before {
  content: "<grid>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
position: absolute;
  margin-top: -30px;
  left: 28px;
}

#grid:after {
  content: "<grid/>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: 335px;
  margin-left: 28px;
}

.section-about h3:before {
  content: "<h3>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: .1rem;
  left: -1rem;
}

.section-about h3:after {
  content: "<h3/>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: 5rem;
  margin-left: -36.5rem;
}

.section-contact h4:before {
  content: "<h4>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: -.1rem;
  left: -1rem;
}

.section-contact h4:after {
  content: "<h4/>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  margin-top: 5rem;
  margin-left: -27.7rem;
}

.contact-form form:before {
  content: "<form>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  bottom: 100%;
  left: 0rem;
}

.contact-form form:after {
  display: block !important;
  content: "</form>";
  font-family: var(--ff-tag);
  color: var(--clr-neutral-400);
  font-size: var(--fs-tag);
  position: absolute;
  left: 0rem;
}

.fake-big {
  font-family: var(--ff-title);
  position: absolute;
  left: 39vw;
  top: 11rem;
  z-index: 0;
  font-size: var(--fs-fakebig);
  color: var(--clr-neutral-800);
}

.section-work .fake-big {
  font-family: var(--ff-title);
  position: absolute;
  top: 9.1rem;
  left: 50vw;
  z-index: 0;
  font-size: var(--fs-fakebig);
  color: var(--clr-neutral-800);
}

/* Heading */
.section-home {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-home .text-zone {
  position: relative;
  z-index: 1;
  padding-left: 5rem;
}

.section-home .blast {
  color: var(--clr-primary);
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-primary-heading);
  line-height: 5.5rem;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: var(--ff-title);
  z-index: 2;
}

.section-home .text-zone h1 .blast:hover {
  color: var(--clr-accent);
  animation-name: rubberBand;
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.section-home h1 {
  color: var(--clr-primary);
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-primary-heading);
  position: relative;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section-home .desc {
  font-size: var(--fs-desc);
  letter-spacing: 2px;
  margin-top: 80px;
  display: block;
  color: var(--clr-neutral-400);
  font-family: var(--ff-primary);
  animation: fadeIn 1s 1.4s backwards;
}

.section-home .text-zone p {
  position: relative;
  margin-bottom: 1.5rem;
}

/* Button */
button {
  background: var(--clr-primary-bg);
  border: none;
}

.flat-button {
  color: var(--clr-accent);
  font-size: var(--fs-button);
  font-family: var(--ff-primary);
  letter-spacing: 4px;
  text-decoration: none;
  margin-top: 80px;
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
}

.flat-button div {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.flat-button:hover {
  color: var(--clr-neutral-900);
}

.flat-button span.bg {
  left: -5%;
  position: absolute;
  background: var(--clr-accent);
  width: 0;
  height: 100%;
  z-index: 3;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.flat-button:hover span.bg {
  width: 110%;
}

.flat-button:hover span.text:after {
  background: var(--clr-accent);
}

.flat-button span.base {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid var(--clr-accent);
}

.flat-button span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  font-family: var(--ff-button);
  position: absolute;
  left: 0;
  top: 0;
}

.flat-button span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: var(--clr-accent);
  position: absolute;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  z-index: 5;
}

/* Scroll */
.scroll-down {
  position: absolute;
  right: 20px;
  padding-top: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: var(--fs-body);
  color: var(--clr-primary);
  font-family: var(--ff-primary);
}

.scroll-down--left {
  left: 20px;
  right: auto;
}

.scroll-down span {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-animation-name: bounce-1;
  animation-name: bounce-1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.scroll-down svg {
  margin-top: 10px;
  width: 10px;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  will-change: transform;
}

/* Portfolio */
.section-work {
  position: relative;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-work h2 {
  color: var(--clr-primary);
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-secondary-heading);
  position: relative;
  margin-bottom: 1rem;
}

.section-work .text-zone {
  position: relative;
  z-index: 1;
  padding-left: 5rem;
}

.section-work .text-zone h2 .blast:hover {
  color: var(--clr-accent);
  animation-name: rubberBand;
}

:-webkit-any(article, aside, nav, section) .text-zone h2 {
  font-size: 1.5em;
}

.section-work .blast {
  color: var(--clr-accent);
  margin: 0;
  font-weight: 600;
  font-size: var(--fs-secondary-heading);
  line-height: 6.7rem;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: var(--ff-title);
  z-index: 2;
  margin-left: 5px;
  letter-spacing: 0px;
}

.section-work p {
  position: relative;
  margin-bottom: 3.5rem;
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-size: var(--fs-body);
  max-width: 55rem;
}

.section-work a {
  color: var(--clr-accent);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.section-work a:hover {
  color: var(--clr-accent-hover);
}

/* Grid */
.grid {
  margin: 0px 1px;
  background-color: var(--clr-neutral-700);

  --auto-grid-min-size: 22rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0rem;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	cursor: pointer;
  object-fit: cover;
}

.grid figure img {
	position: relative;
	display: block;
	height: 20.7rem;
	left: 0px;
	top: 0px;
	z-index: 0;
	overflow: visible;
	object-fit: cover;
}

.grid figure figcaption {
  padding: 3em;
  color: var(--clr-neutral-400);
  text-transform: uppercase;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
	word-spacing: 0.15em;
	font-family: var(--ff-primary);
	font-size: var(--fs-500);
	font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 0.7rem;
}

figure.hover-content img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: .4;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

figure.hover-content figcaption {
  text-align: left;
}

figure.hover-content figcaption > div {
  position: absolute;
  bottom: 0;
  left: 20px;
  padding: 0em;
  min-width: 100%;
  min-height: 30%;
}

figure.hover-content h2,
figure.hover-content p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

figure.hover-content h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.hover-content p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

figure.hover-content:hover img,
figure.hover-content:hover p {
  opacity: 1;
}

figure.hover-content:hover img,
figure.hover-content:hover h2,
figure.hover-content:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.hover-content:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

.fancybox__caption div {
  position: fixed !important;
  margin-bottom: -26px !important;
  z-index: 1;
}

.fancybox__caption div {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  min-width: 100%;
  color: var(--clr-neutral-400);
}

.fancybox__caption div {
  margin: 0;
  bottom: 26px !important;
  color: transparent;
}

.fancybox__caption div a {
  color: var(--clr-neutral-700);
  display: block;
  background: var(--clr-accent);
  font-weight: bold;
  font-family: var(--ff-primary);
  font-size: 1rem;
  padding: 15px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.fancybox__caption div a:hover {
  color: var(--clr-accent);
  background: var(--clr-neutral-600);
}

/* About */
.section-about {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 100px;
}

.section-about h3 {
  color: var(--clr-neutral-300);
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-secondary-heading);
  position: relative;
  margin-bottom: 30px;
}


.section-about .text-zone {
  position: relative;
  z-index: 1;
}

.section-about .text-zone h3 .blast:hover {
  color: var(--clr-accent);
  animation-name: rubberBand;
}

:-webkit-any(article, aside, nav, section) .text-zone h3 {
  font-size: 1.5em;
}

.section-about .blast {
  color: var(--clr-accent);
  margin: 0;
  font-weight: 600;
  font-size: var(--fs-secondary-heading);
  line-height: 6.7rem;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: var(--ff-title);
  z-index: 2;
  margin-left: 5px;
  letter-spacing: 0px;
}

.section-about p {
  position: relative;
  font-family: var(--ff-primary);
  font-size: 1rem;
  color: var(--clr-primary);
  max-width: 65%;
}

.section-about a {
  color: var(--clr-accent);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.section-about a:hover {
  color: var(--clr-accent-hover);
}

.section-about .tagcloud {
  font-size: var(--fs-500);
  font-family: var(--ff-primary);
  margin: auto;
}

.section-about .skill-charts-mobile {
  display: none;
}

.section-about .tagcloud--item:hover {
  color: var(--clr-neutral-400);
}

#tagcloud{
  color: var(--clr-accent);
}

#tagcloudMobile{
  color: var(--clr-accent);
}

.skill-charts #tagcloudMobile {
  display: none;
}

/* Contact */
.section-about {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 300px;
}
.section-about h3 {
  color: var(--clr-neutral-300);
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-secondary-heading);
  position: relative;
  margin-bottom: 30px;
}

.section-about .text-zone {
  position: relative;
  z-index: 1;
  padding-left: 5rem;
}

.section-about .text-zone h3 .blast:hover {
  color: var(--clr-accent);
  animation-name: rubberBand;
}

:-webkit-any(article, aside, nav, section) .text-zone h3 {
  font-size: 1.5em;
}

.section-about .blast {
  color: var(--clr-accent);
  margin: 0;
  font-weight: 600;
  font-size: var(--fs-secondary-heading);
  line-height: 6.7rem;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: var(--ff-title);
  z-index: 2;
  margin-left: 5px;
  letter-spacing: 0px;
}

.section-about p {
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

.section-about a {
  color: var(--clr-accent);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.section-about a:hover {
  color: var(--clr-accent-hover);
}

.section-about .skill-charts {
  display: flex;
}

.section-about .tagcloud {
  font-size: var(--fs-500);
  font-family: var(--ff-primary);
  margin: auto;
  left: -200px;
}

.section-about .skill-charts-mobile {
  display: none;
}

.section-about .tagcloud--item:hover {
  color: var(--clr-neutral-400);
}

.skill-charts #tagcloudMobile {
  display: none;
}

/* Contact */
.section-contact {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-top: 300px;
}

.section-contact h4 {
  color: var(--clr-primary);
  margin: 0;
  font-weight: 400;
  font-size: var(--fs-secondary-heading);
  position: relative;
  margin-bottom: 20px;
}

.section-contact .text-zone {
  position: relative;
  z-index: 1;
  padding-left: 5rem;
  margin-right: 50px;
  flex: 50%;
}

.section-contact .text-zone h4 .blast:hover {
  color: var(--clr-accent);
  animation-name: rubberBand;
}

:-webkit-any(article, aside, nav, section) .text-zone h4 {
  font-size: 1.5em;
}

.section-contact .blast {
  color: var(--clr-accent);
  margin: 0;
  font-weight: 600;
  font-size: var(--fs-secondary-heading);
  line-height: 6.7rem;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-family: var(--ff-title);
  z-index: 2;
  margin-left: 5px;
  letter-spacing: 0px;
}

.section-contact p {
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  width: 100%;
  color: var(--clr-primary);
}

.section-contact a {
  color: var(--clr-accent);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.section-contact a:hover {
  color: var(--clr-accent-hover);
}

.contact-form {
  max-width: 100%;
  padding-top: 2rem;
  display: block;
  position: relative;
  padding-right: 2%; 
}

.contact-form form {
  position: relative;
}

.contact-form ul {
  padding: 0;
  margin: 0;
}

.contact-form ul li.half {
  min-width: 50%;
  float: left;
  clear: none;
}

.contact-form ul li input.text-name {
  max-width: 99%;
  color: var(--clr-neutral-300);
}

.contact-form ul li input.text-email {
  float: right;
  max-width: 99%;
  color: var(--clr-neutral-300);
}

.contact-form ul li {
  padding: 0;
  margin: 0;
    margin-bottom: 0px;
    margin-left: 0px;
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  clear: both;
  position: relative;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
  width: 100%;
  border: 0;
  background: var(--clr-neutral-500);
  height: 50px;
  font-size: 16px;
  color: var(--clr-neutral-300);
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-form textarea {
  max-width: 100%;
  min-width: 100%;
  border: 0;
  background: var(--clr-neutral-500);
  height: 50px;
  font-size: 16px;
  color: var(--clr-neutral-300);
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 150px;
}

.contact-form input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-accent);
}

.contact-form .flat-button-2 {
  color: var(--clr-accent);
  font-size: var(--fs-button);
  letter-spacing: 4px;
  text-decoration: none;
  margin-top: 15px;
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  float: right;
}

.contact-form .flat-button-2 div {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.contact-form .flat-button-2:hover {
  color: var(--clr-neutral-900);
}

.contact-form .flat-button-2 span.bg {
  left: -5%;
  position: absolute;
  background: var(--clr-accent);
  width: 0;
  height: 100%;
  z-index: 3;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.contact-form .flat-button-2:hover span.bg {
  width: 110%;
}

.contact-form .flat-button-2:hover span.text:after {
  background: var(--clr-accent);
}

.contact-form .flat-button-2 span.base {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid var(--clr-accent);
}

.contact-form .flat-button-2 span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  font-family: var(--ff-primary);
  position: absolute;
  left: 0;
  top: 0;
}

.contact-form .flat-button-2 span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: var(--clr-accent);
  position: absolute;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  z-index: 5;
}

.contact-form .flat-button-2--small {
  height: 42px;
  line-height: 42px;
}

.contact-form .flat-button-2:hover .message-deliver {
  animation: sent 0.5s linear infinite alternate-reverse;
}

@keyframes sent {
  0% {
    transform: translateX(7px);
  }
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}

.exclamation,
.checkCircle {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 14px;
  cursor: pointer;
  visibility: hidden;
}

.error .exclamation {
  color: red;
  visibility: visible;
}

.success .checkCircle {
  color: green;
  visibility: visible;
}

.error input.text-name,
.error input.text-email,
.error input.text-subject,
.error textarea {
  border-bottom: 2px solid red;
  transition: all 0.3s linear;
}

.success input.text-name,
.success input.text-email,
.success input.text-subject,
.success textarea {
  border-bottom: 2px solid green;
  transition: all 0.3s linear;
}

.message {
  position: absolute;
  top: 380px;
  right: 0%;
  transform: translateX(120%);
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: flex;
  flex-direction: column-reverse;
  z-index: 999;
  // visibility: hidden;
  margin-bottom: 15px;
}

.div-content {
  pointer-events: none;
  padding: 15px;
  background: red;
  color: #fff;
  opacity: 1;
  transition: opacity 550ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  margin-bottom: 10px;
}

.div-content.hide {
  opacity: 0;
}

.message-deliver {
  width: 25px;
  top: 10px;
  right: 20px;
  position: absolute;
  height: auto;
  transition: all 0.1s linear;
  display: none;
}

.contact-map {
  position: relative;
  flex: 60%;
  z-index: 1;
}

.map {
  margin-top: 120px;
  min-width: 100%;
}

.inf-map {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  top: 10rem;
  right: 3rem;
  z-index: 999999;
  width: 13vw;
  padding: 20px;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: 300;
}

.contact-map .inf-map span {
  font-size: var(--fs-400);
}

.contact-map .inf-map span span {
  color: var(--clr-accent);
}

.contact-map .inf-map br {
  display: block;
  content: "";
  margin-top: 20px;
}

/* Media queries */
@media (max-width: 40em) {
  :root{
    --fs-100: .2rem;
    --fs-200: .4rem;
    --fs-300: .6rem;
    --fs-400: .7rem;
    --fs-350: .8rem;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 2.5rem;
    --fs-1000: 20rem;

    --fs-body: calc(var(--fs-400) + 0.390625vw);
    --fs-primary-heading: calc(var(--fs-900) + 0.390625vw);
    --fs-secondary-heading: calc(var(--fs-800) + 0.390625vw);
    --fs-desc: calc(var(--fs-400) + 0.390625vw);
    --fs-tag: calc(var(--fs-500) + 0.390625vw);
    --fs-nav: calc(var(--fs-400) + 0.390625vw);
    --fs-button: calc(var(--fs-300) + 0.390625vw);
    --fs-fakebig: calc(var(--fs-1000) + 0.390625vw);
  }

  // Animations
  .text-animate {
    line-height: 2.5rem;
    margin-left: 0.1rem;
  }

  .text-animate-secondary {
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  /* Essentials */
  br {
    display: block;
    content: "";
    margin-top: -5px;
  }

  body {
    height: auto;
    padding-left: 0px;
  }
  
  /* Tags */
  .bottom-tags {
    bottom: auto;
    line-height: 2px;
  }

  .top-tags {
    top: 50px;
    line-height: 2px;
  }

  .tags {
    left: 10px;
  }

  .top-tags:after {
    margin-left: 10px;
  }

  h1:before {
    top: 1rem;
  }

  h1:after {
    top: 1.5rem;
  }

  .section-home .text-zone p:first-of-type:before {
    margin-top: -1.2rem;
  }

  /* .section-home .text-zone p:last-of-type:after {
    
  } */

  .section-work h2:before {
    margin-top: -2.5rem;
    margin-left: .7rem;
  }

  .section-work h2:after {
    margin-top: 1rem;
    margin-left: -13.5rem;
  }

  .section-work .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: 12px;
  }

  .section-work .text-zone p:last-of-type:after {
    left: -.5rem;
  }
  
  #grid:before {
    left: .5rem;
    margin-top: -1.5rem;
  }

  #grid:after {
    left: -1.3rem;
  }

  .section-about h3:before {
    margin-top: -2.5rem;
    margin-left: .5rem;
  }

  .section-about h3:after {
    margin-top: .5rem;
    margin-left: -17.5rem;
  }

  .section-about .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: .5rem;
  }

  .section-about .text-zone p:last-of-type:after {
    left: -.5rem;
  }

  .section-contact h4:before {
    margin-top: -2.5rem;
    margin-left: .6rem;
  }

  .section-contact h4:after {
    margin-top: .6rem;
    margin-left: -13.2rem;
  }

  .section-contact .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: .8rem;
  }

  .section-contact .text-zone p:last-of-type:after {
    left: -.2rem;
  }

  .section-work .fake-big {
    display: none;
  }

  .fake-big {
    left: 65vw;
    top: 40rem;
  }

  /* Home */
  .section-home {
    padding-left: 0rem;
    padding-top: 1rem;
  }

  .section-home .text-zone {
    top: 0rem;
    padding-left: 2rem;
  }

  .section-home .blast {
    line-height: 2.5rem;
    margin-left: 0.1rem;
  }

  .section-home .desc {
    top: 2rem;
    margin-top: 2rem;
  }

  .flat-button {
    max-width: 160px;
    height: 45px;
    line-height: 45px;
    margin-top: 80px;
  }

  .scroll-down {
    right: 10px;
  }
  .scroll-down--left {
    left: 10px;
    right: auto;
  }

  /* Portfolio */
  .section-work {
    padding-left: 0px;
  }

  .section-work .text-zone {
    padding-left: 30px;
  }

  .section-work .blast {
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-work p {
    max-width: 92%;
    margin-top: 35px;
    line-height: 20px;
  }

	.grid {
		margin: 0px 3px;
			
		--auto-grid-min-size: 10rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	}

  .grid figure {
		width: 49.2vw;
	}

	.grid figure img {
		width: 245px;
		height: 320px;
		left: 0px;
		top: 0px;
	}

	figure.hover-content figcaption > div {
		top: 19em;
		left: .5em;
	}

  /* About */
  .section-about br {
    display: block;
    content: "";
    margin-top: 10px;
  }

  .section-about {
    padding-left: 0px;
    flex-direction: column;
  }

  .section-about .text-zone {
    padding-left: 30px;
    margin-top: 50px;
  }

  .section-about .blast {
    font-size: var(--ff-secondary-heading);
    line-height: .5px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-about p {
    font-size: var(--fs-body);
    max-width: 95%;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .section-about .tagcloud {
    font-size: var(--fs-400);
    font-family: var(--ff-primary);
    margin: auto;
    left: 0px;
  }

  .skill-charts #tagcloud {
    display: none;
  }

  .skill-charts #tagcloudMobile {
    display: block;
  }

  .skill-charts #tagcloudMobile .tagcloud {
    font-size: 15px;
  }

  #tagcloudMobile .tagcloud--item {
    color: var(--clr-accent);
  }

  /* Contact */
  .section-contact {
    padding-left: 0px;
    flex-direction: column;
  }

  .section-contact .text-zone {
    padding-left: 30px;
    margin-top: 40px;
    margin-right: 0px;
  }

  .section-contact .blast {
    font-size: var(--ff-title);
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-contact p {
    font-size: var(--ff-primary);
    max-width: 90%;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .contact-form {
    max-width: 90%;
    min-width: 90%;
    padding-top: 50px;
  }

  .contact-form ul li.half {
    min-width: 100%;
    min-width: 100%;
  }

  .contact-form ul li input.text-name {
    min-width: 100%;
    min-width: 100%;
  }

  .contact-form ul li input.text-email {
    float: left;
    min-width: 100%;
    max-width: 100%;
  }

  .contact-form textarea {
    max-width: 100%;
    min-width: 100%;
  }

  .flat-button-2 {
    font-size: var(--fs-button);
    letter-spacing: 2px;
    max-width: 120px;
    height: 40px;
    line-height: 40px;
  }

  .contact-map {
    width: 100%;
    margin-right: 0px;
  }

  .map {
    margin-bottom: 5rem;
    margin-top: 2rem;
    width: 100%;
  }

  .inf-map{
    top: 5vh;
    left: 40vw;
    width: 58vw;
    height: 130px;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px){
  :root{
    --fs-100: .2rem;
    --fs-200: .4rem;
    --fs-300: .6rem;
    --fs-400: .7rem;
    --fs-350: .8rem;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 5rem;
    --fs-1000: 20rem;

    --fs-body: calc(var(--fs-400) + 0.390625vw);
    --fs-primary-heading: calc(var(--fs-900) + 0.390625vw);
    --fs-secondary-heading: calc(var(--fs-800) + 0.390625vw);
    --fs-desc: calc(var(--fs-400) + 0.390625vw);
    --fs-tag: calc(var(--fs-500) + 0.390625vw);
    --fs-nav: calc(var(--fs-400) + 0.390625vw);
    --fs-button: calc(var(--fs-300) + 0.390625vw);
    --fs-fakebig: calc(var(--fs-1000) + 0.390625vw);
  }

  // Animations
  .text-animate {
    line-height: 4rem;
    margin-left: 0.1rem;
  }

  .text-animate-secondary {
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  /* Essentials */
  br {
    display: block;
    content: "";
    margin-top: -5px;
  }

  body {
    height: auto;
    padding-left: 0rem;
  }
  
  /* Tags */
  .bottom-tags {
    bottom: auto;
    line-height: 2px;
  }

  .top-tags {
    top: 50px;
    line-height: 2px;
  }

  .tags {
    left: 10px;
  }

  .top-tags:after {
    margin-left: 10px;
  }

  h1:before {
    top: 0.5rem;
  }

  h1:after {
    top: 6rem;
  }

  .section-home .text-zone p:first-of-type:before {
    margin-top: -1.2rem;
  }

  .section-work h2:before {
    margin-top: -2.5rem;
    margin-left: .7rem;
  }

  .section-work h2:after {
    margin-top: 1rem;
    margin-left: -16.5rem;
  }

  .section-work .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: 12px;
  }

  .section-work .text-zone p:last-of-type:after {
    left: -.5rem;
  }
  
  #grid:before {
    left: .5rem;
    margin-top: -1.5rem;
  }

  #grid:after {
    left: -1.3rem;
    margin-top: 16rem;
  }

  .section-about h3:before {
    margin-top: -2.5rem;
    margin-left: .5rem;
  }

  .section-about h3:after {
    margin-top: 1rem;
    margin-left: -21.5rem;
  }

  .section-about .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: .5rem;
  }

  .section-about .text-zone p:last-of-type:after {
    left: -.5rem;
  }

  .section-contact h4:before {
    margin-top: -2.7rem;
    margin-left: .6rem;
  }

  .section-contact h4:after {
    margin-top: .8rem;
    margin-left: -16rem;
  }

  .section-contact .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: .8rem;
  }

  .section-contact .text-zone p:last-of-type:after {
    left: -.2rem;
  }

  .section-work .fake-big {
    display: none;
  }

  .fake-big {
    left: 65vw;
    top: 40rem;
  }

  /* Home */
  .section-home {
    padding-left: 0rem;
    padding-top: 1rem;
  }

  .section-home .text-zone {
    top: 0rem;
    padding-left: 2rem;
  }

  .section-home .blast {
    line-height: 4rem;
    margin-left: 0.1rem;
  }

  .section-home .desc {
    top: 2rem;
    margin-top: 2rem;
  }

  .flat-button {
    max-width: 160px;
    height: 45px;
    line-height: 45px;
    margin-top: 80px;
  }

  .scroll-down {
    right: 10px;
  }
  .scroll-down--left {
    left: 10px;
    right: auto;
  }

  /* Portfolio */
  .section-work {
    padding-left: 0px;
  }

  .section-work .text-zone {
    padding-left: 30px;
  }

  .section-work .blast {
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-work p {
    max-width: 98%;
    margin-top: 40px;
    line-height: 20px;
  }

	.grid {
		margin: 0px 3px;
			
		--auto-grid-min-size: 15rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	}

  .grid figure {
		width: 33.1vw;
	}

	.grid figure img {
		width: 310px;
		height: 250px;
		left: 0px;
		top: 0px;
	}

	figure.hover-content figcaption > div {
		top: 12em;
		left: .5em;
	}

  /* About */
  .section-about br {
    display: block;
    content: "";
    margin-top: 10px;
  }

  .section-about {
    padding-left: 0px;
    flex-direction: column;
  }

  .section-about .text-zone {
    padding-left: 30px;
    margin-top: 50px;
  }

  .section-about .blast {
    font-size: var(--ff-secondary-heading);
    line-height: .5px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-about p {
    font-size: var(--fs-body);
    max-width: 98%;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .section-about .tagcloud {
    font-size: var(--fs-400);
    font-family: var(--ff-primary);
    margin: auto;
    left: 0px;
  }

  .skill-charts #tagcloud {
    display: none;
  }

  .skill-charts #tagcloudMobile {
    display: block;
  }

  .skill-charts #tagcloudMobile .tagcloud {
    font-size: 15px;
  }

  #tagcloudMobile .tagcloud--item {
    color: var(--clr-accent);
  }

  /* Contact */
  .section-contact {
    padding-left: 0px;
    flex-direction: column;
  }

  .section-contact .text-zone {
    padding-left: 30px;
    margin-top: 40px;
    margin-right: 0px;
  }

  .section-contact .blast {
    font-size: var(--ff-title);
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-contact p {
    font-size: var(--ff-primary);
    max-width: 98%;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  .contact-form {
    max-width: 98%;
    min-width: 90%;
    padding-top: 50px;
  }


  .contact-form textarea {
    max-width: 100%;
    min-width: 100%;
  }

  .flat-button-2 {
    font-size: var(--fs-button);
    letter-spacing: 2px;
    max-width: 120px;
    height: 40px;
    line-height: 40px;
  }

  .contact-map {
    width: 100%;
    margin-right: 0px;
  }

  .map {
    margin-bottom: 5rem;
    margin-top: 2rem;
    width: 100%;
  }

  .inf-map{
    top: 4vh;
    left: 68vw;
    width: 30vw;
    height: 130px;
  }
}

// Tablet Portrait 
@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  :root{
    --fs-100: .2rem;
    --fs-200: .4rem;
    --fs-300: .6rem;
    --fs-400: .7rem;
    --fs-350: .8rem;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 5rem;
    --fs-1000: 20rem;

    --fs-body: calc(var(--fs-400) + 0.390625vw);
    --fs-primary-heading: calc(var(--fs-900) + 0.390625vw);
    --fs-secondary-heading: calc(var(--fs-800) + 0.390625vw);
    --fs-desc: calc(var(--fs-400) + 0.390625vw);
    --fs-tag: calc(var(--fs-500) + 0.390625vw);
    --fs-nav: calc(var(--fs-400) + 0.390625vw);
    --fs-button: calc(var(--fs-300) + 0.390625vw);
    --fs-fakebig: calc(var(--fs-1000) + 0.390625vw);
  }

  // Animations
  .text-animate {
    line-height: 4rem;
    margin-left: 0.1rem;
  }

  .text-animate-secondary {
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  /* Essentials */
  br {
    display: block;
    content: "";
    margin-top: -5px;
  }

  body {
    height: auto;
    padding-left: 0rem;
  }
  
  /* Tags */
  .bottom-tags {
    bottom: auto;
    line-height: 2px;
  }

  .top-tags {
    top: 50px;
    line-height: 2px;
  }

  .tags {
    left: 10px;
  }

  .top-tags:after {
    margin-left: 10px;
  }

  h1:before {
    top: 0rem;
  }

  h1:after {
    top: 6rem;
  }

  .section-home .text-zone p:first-of-type:before {
    margin-top: -1.2rem;
  }

  .section-work h2:before {
    margin-top: -3rem;
    margin-left: .7rem;
  }

  .section-work h2:after {
    margin-top: 1.2rem;
    margin-left: -16.8rem;
  }

  .section-work .text-zone p:first-of-type:before {
    margin-top: -1.2rem;
    margin-left: 12px;
  }

  .section-work .text-zone p:last-of-type:after {
    left: -.5rem;
  }
  
  #grid:before {
    left: .5rem;
    margin-top: -1.5rem;
  }

  #grid:after {
    left: -1.3rem;
    margin-top: 16rem;
  }

  .section-about h3:before {
    margin-top: -2.8rem;
    margin-left: .5rem;
  }

  .section-about h3:after {
    margin-top: 1rem;
    margin-left: -21.8rem;
  }

  .section-about .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: .5rem;
  }

  .section-about .text-zone p:last-of-type:after {
    left: -.5rem;
  }

  .section-contact h4:before {
    margin-top: -2.7rem;
    margin-left: 1rem;
  }

  .section-contact h4:after {
    margin-top: 1rem;
    margin-left: -16.2rem;
  }

  .section-contact .text-zone p:first-of-type:before {
    margin-top: -1.5rem;
    margin-left: .8rem;
  }

  .section-contact .text-zone p:last-of-type:after {
    left: -.2rem;
  }

  .section-work .fake-big {
    display: none;
  }

  .fake-big {
    left: 65vw;
    top: 40rem;
  }

  /* Home */
  .section-home {
    padding-left: 0rem;
    padding-top: 1rem;
  }

  .section-home .text-zone {
    top: 0rem;
    padding-left: 2rem;
  }

  .section-home .blast {
    line-height: 4rem;
    margin-left: 0.1rem;
  }

  .section-home .desc {
    top: 2rem;
    margin-top: 2rem;
  }

  .flat-button {
    max-width: 160px;
    height: 45px;
    line-height: 45px;
    margin-top: 80px;
  }

  .scroll-down {
    right: 10px;
  }
  .scroll-down--left {
    left: 10px;
    right: auto;
  }

  /* Portfolio */
  .section-work {
    padding-left: 0px;
  }

  .section-work .text-zone {
    padding-left: 30px;
  }

  .section-work .blast {
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-work p {
    max-width: 98%;
    margin-top: 40px;
    line-height: 20px;
  }

	.grid {
		margin: 0px 3px;
			
		--auto-grid-min-size: 15rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	}

  .grid figure {
		width: 24.9vw;
	}

	.grid figure img {
		width: 310px;
		height: 250px;
		left: 0px;
		top: 0px;
	}

	figure.hover-content figcaption > div {
		top: 12em;
		left: .5em;
	}

  /* About */
  .section-about br {
    display: block;
    content: "";
    margin-top: 10px;
  }

  .section-about {
    padding-left: 0px;
    flex-direction: column;
  }

  .section-about .text-zone {
    padding-left: 30px;
    margin-top: 50px;
  }

  .section-about .blast {
    font-size: var(--fs-secondary-heading);
    line-height: .5px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-about p {
    font-size: var(--fs-body);
    max-width: 98%;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .section-about .tagcloud {
    font-size: var(--fs-400);
    font-family: var(--ff-primary);
    margin: auto;
    left: 0px;
  }

  .skill-charts #tagcloud {
    display: none;
  }

  .skill-charts #tagcloudMobile {
    display: block;
  }

  .skill-charts #tagcloudMobile .tagcloud {
    font-size: 15px;
  }

  #tagcloudMobile .tagcloud--item {
    color: var(--clr-accent);
  }

  /* Contact */
  .section-contact {
    padding-left: 0px;
    flex-direction: column;
  }

  .section-contact .text-zone {
    padding-left: 30px;
    margin-top: 40px;
    margin-right: 0px;
  }

  .section-contact .blast {
    font-size: var(--ff-title);
    line-height: 1px;
    margin-left: 2px;
    letter-spacing: -1px;
    bottom: 20px;
  }

  .section-contact p {
    font-size: var(--ff-primary);
    max-width: 98%;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  .contact-form {
    max-width: 98%;
    min-width: 90%;
    padding-top: 50px;
  }


  .contact-form textarea {
    max-width: 100%;
    min-width: 100%;
  }

  .flat-button-2 {
    font-size: var(--fs-button);
    letter-spacing: 2px;
    max-width: 120px;
    height: 40px;
    line-height: 40px;
  }

  .contact-map {
    width: 100%;
    margin-right: 0px;
  }

  .map {
    margin-bottom: 5rem;
    margin-top: 2rem;
    width: 100%;
  }

  .inf-map{
    top: 5vh;
    left: 1vw;
    width: 22vw;
    height: 130px;
  }
}

